<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QuickTrade AE9
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QuickTrade AE9</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-button expand="block" routerLink="/list">Listado de productos</ion-button>
<ion-button expand="block"routerLink="/insert">Insertar Producto</ion-button>
<ion-button expand="block">Me gusta</ion-button>


